@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="dashboard.css">
<div class="text-center">
    <h1 class="display-4 greetings">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
